.ResetPassword {
    display: flex;
    flex-direction: column;
}

.ResetPassword>h3 {
    font-family: uber-bold;
    margin: 0px;
    margin-top: 30px;
}

.ResetPassword>p {
    color: gray;
    font-size: 14px;
}

.Confirm {
    margin-top: 50px;
    height: 50px;
    background-color: #4E60FF;
    opacity: 0.3;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: uber-medium;
    outline: none;
}

.Active {
    opacity: 1;
    cursor: pointer;
}

.GoBack {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    outline: none;
    border: none;
    background-color: #F5F5F5;
    cursor: pointer;
}